{% extends "admin/base.html" %}

{% block main %}

<div class="container mt-4">
    <table class="table">
        <thead>
            <tr style="text-align: center;">
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
                <th scope="col">Category</th>
                <th scope="col">thumbnail</th>
                <th scope="col">Date Created</th>
                <th scope="col">Views</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for yangilik in yangiliklar %}
                <tr style="text-align: center;">
                    <th scope="row">{{yangilik.id}}</th>
                    <td>
                        <a href="{{ url_for('admin_news_list_view')}}">
                            <i>{{yangilik.title}}</i>
                        </a>
                    </td>
                    <td>{{yangilik.content}}</td>

                    <td>
                        {% for kat in kategoriyalar %}
                            {% if kat.id==yangilik.cat_id %}
                                {{kat.name}}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{% if yangilik.photo %}
                        <im  g src="url_for('static',filename='uploads/images/')~yangilik.photo" class="img-thumbnail" style="width: 100px;">
                        {% else %}
                        <i>Rasm yoq</i>
                        {% endif %}
                    </td>
                    <td>{{yangilik.datetime.strftime('%Y.%m.%d, %H:%M')}}</td>
                    <td>{{yangilik.views}}</td>
                    <td> 
                        {% if yangilik.is_published  %}
                        <a href="{{ url_for('admin_news_list_view', action='make_inactive',_id=yangilik.id)}}">

                            <img src="{{ url_for('static',filename='/images/icons/active-chek.svg')}}" style="width: 20px;">
                        </a>
                        {% else %}
                        <a href="{{ url_for('admin_news_list_view', action='make_active',_id=yangilik.id)}}">
                            
                            <img src="{{ url_for('static',filename='/images/icons/inactive-chek.svg')}}" style="width: 20px;">
                        </a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url_for('update_news_view',_id=yangilik.id)}}" class="btn btn-info btn-sm">
                            Update
                        </a>
                    </td>
                    <td>
                        <a href="{{url_for('admin_news_list_view', action='delete',_id=yangilik.id)}}" class="btn btn-danger btn-sm">
                            Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main %}